aside .field {
    margin-left: 32px;
}

aside .field--number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

aside .field--number label {
    display: block;
    font-weight: 300;
}

aside .field--number input {
    width: 28px;
}

.submit {
<<<<<<< Updated upstream
    background-color: var(--secondary-color);
=======
    background-color: var(--primary-color);
>>>>>>> Stashed changes
    border-radius: 5px;
    border: none;
    color: var(--white);
    width: calc(100% - (32px * 2));
    height: 36px;
    position: absolute;
    left: 32px;
    bottom: 32px;
}
