.input--number {
    display: flex;
    height: 32px;
}

.input--number input {
    text-align: center;
    border: none;
}

.input--number input::-webkit-outer-spin-button,
.input--number input::-webkit-inner-spin-button,
.input--number input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

.input--number button {
    border: none;
    background-color: var(--secondary-color);
    color: var(--white);
    font-weight: 900;
    font-size: 18px;
    width: 20px;
    flex-shrink: 0;
    display: block;
}

.input--number button.decrease {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input--number button.increase {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.field--checkbox {
    display: flex;
    font-weight: 300;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1em;
}

.field--checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.field--checkbox .checkmark {
    background-color: var(--white);
    height: 18px;
    width: 18px;
    border-radius: 5px;
    margin-right: .5em;
}

.field--checkbox input:checked~.checkmark {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.field--checkbox input:checked~.checkmark:after {
    display: block;
    position: relative;
}

.field--checkbox .checkmark:after {
    width: 3px;
    height: 8px;
    border: solid var(--white);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 2px;
    left: 6px;
}
