/* General */
body {
    margin: 0;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-weight: 300;
}


/* Layout */

aside {
    background-color: #00315F;
    border-top-right-radius: 100px;
    box-sizing: border-box;
    color: white;
    width: 300px;
    flex-shrink: 0;
    height: 100vh;
    padding: 32px;
    position: relative;
}

main {
    width: 100%;
}


/* Aside */

aside .field {
    margin-left: 32px;
}

aside .field--number {
    display: flex;
    justify-content: space-between;
}

aside .field--number label {
    display: block;
    width: 120px;
    font-weight: 300;
}

aside .field--number input {
    width: 50px;
}

.submit {
    background-color: #A4C549;
    border-radius: 5px;
    border: none;
    width: calc(100% - (32px * 2));
    height: 36px;
    position: absolute;
    left: 32px;
    bottom: 32px;
}