.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: gray;
    display: none;
}

.message.show {
    display: block;
}

.message h2 {
    color: gray;
}